.colorBase {
    color: #e92f2b;
}

.font15 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}

.font15 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}

.font20 {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    line-height: 23px;
    letter-spacing: 0em;
}

.weight400 {
    font-weight: 400;
}